<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Books currently in the shop</title>
</head>

<body>
<h1>Books currently in the shop</h1>
<table>
    <tr th:each="book : ${books}">
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getISBN()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getPrice()}"></td>
        <td><a th:href="|books/${book.id}|">edit</a></td>
    </tr>
</table>

<a href="books/add"> Add a book</a>
</body>

</html>